/*sidebar*/
/* Header cố định trên cùng */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

.user-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 180px;
    z-index: 1001;
}

    .dropdown-menu.show {
        display: block;
        margin-top: 5px;
    }

    .dropdown-menu li a {
        display: block;
        padding: 10px 9px;
        color: #333;
        text-decoration: none;
    }

        .dropdown-menu li a:hover {
            background-color: #f0f0f0;
        }

/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 214px;
    height: calc(100vh - 60px);
    background-color: #343a40;
    padding-top: 20px;
    overflow-y: auto;
}

    .sidebar a {
        display: block;
        color: #f8f9fa;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 15px;
    }

        .sidebar a:hover {
            background-color: #495057;
        }

/* Nội dung chính */
.content {
    margin-left: 180px;
    padding: 45px 20px 20px;
}

i.fa.fa-caret-down {
    margin-left: 7px;

}