
.chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0d6efd;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    z-index: 9999;
}

.chat-box {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    display: none;
    z-index: 9999;
}

/* TOAST CÓ HIỆU ỨNG CHẠY + RUNG NHẸ */
.custom-toast {
    min-width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    animation: slideInDown 0.6s ease-out forwards, shake 0.6s 2.4s, slideOutUp 0.7s 3.8s forwards;
    opacity: 0;
}

@keyframes slideInDown {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(20px);
        opacity: 1;
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    20%, 60% {
        transform: translateX(-10px);
    }

    40%, 80% {
        transform: translateX(10px);
    }
}

@keyframes slideOutUp {
    to {
        transform: translateY(-150px);
        opacity: 0;
    }
}


.toast-progress {
    height: 4px;
    margin-top: 5px;
}

    .toast-progress .progress-bar {
        width: 100%;
        transition: width linear;
        background-color: #f8f9fa; /* màu sáng hơn (gần trắng) */
    }
